<ion-view title="Pricing Forecast" id="page10">
    <ion-content padding="true" style="background: url(img/whitebg.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div>
      <img src="img/t1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <br>
    <div>
      <img src="img/t2.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <br>
    <div>
      <img src="img/t3.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <br>
    <div>
      <img src="img/t4.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    </ion-content>
</ion-view>
